@import url("config.css");
@import url("form.css");

/* Main content styling */

.auth-main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 15px 0;
   width: 80%;
}
.auth-main-content .main-content-message {
   font-size: 2rem;
   color: var(--text-theme-color);
}
.auth-main-content {
   width: 100%;
}

/* Forgot password styling */

.auth-main-content .forgot-password-message-container {
   margin-top: 10px;
}
.auth-main-content .forgot-password-message-container a {
   text-decoration: none;
   color: var(--text-theme-color);
}
.auth-main-content .forgot-password-message-container a:hover {
   text-decoration: underline;
}

/* Submit button styling */

.auth-main-content .submit-button-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 40px 0 30px 0;
}
.auth-main-content .submit-button-container .submit-button {
   color: var(--text-theme-color);
   font-size: 2rem;
   background-color: #fff;
   border: 2px solid var(--text-theme-color);
   border-radius: 7px;
   width: 100%;
   padding: 3px 0;
   cursor: pointer;
   transition: 0.3s;
}
.auth-main-content .submit-button-container .submit-button:hover {
   background-color: var(--text-theme-color);
   color: #fff;
}
