.footer {
    font-size: 0.8rem;
    width: 100%;
    color: rgb(132, 132, 132);
    margin: 20px 0;
    text-align: center;
}

@media (max-height: 1000px) {

    .footer {
        font-size: 0.6rem;
    }

}