.posts_section {
  /* background-color: rgb(151, 255, 172); */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: postsSection;
}

.posts_list_outer_container {
  /* background-color: red; */
  width: 100%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
