.connection_profile_container {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "image fullname"
  "image description";
  cursor: pointer;
  padding: 7px 5px;
  position: relative;
}
.connection_profile_container:after {
  content: '';
  height: 1px;
  width: 98%;
  background-color: rgb(240, 240, 240);
  position: absolute;
  bottom: 0;
  justify-self: center;
}

.connection_profile_container:hover {
  background-color: #eeeeee;
  border-radius: 5px;
}

.connection_profile_container img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  grid-area: image;
  align-self: center;
}

.connection_profile_container h1 {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--text_grey);
  margin-left: 10px;
  grid-area: fullname;
}

.connection_profile_container p {
  font-size: 0.6rem;
  font-weight: normal;
  color: var(--text_light_grey);
  margin-left: 10px;
  grid-area: description;
}
